
@import "tailwindcss";
:root {
  /*  LIGHT MODE */
  --bg-body: #f5f5f4; 
  --nav-gradient: linear-gradient(to bottom left, #f3f4f6 , #f3f4f6 , #f3f4f6 );
  --nav: #C8CCD6;
  --text-primary: #1E1E2A;
  --text-secondary: #4A5060;
  --card-body: #F4F5F8;
  --card-body2: #C8CCD6;
  --card-border: #D6D8E1;
  --accent: #B25C00;
  --hover-bg: #E0E3EB;
  --input-bg: #FFFFFF;
  --divider: #C8CCD6;
}

.dark {
  --bg-body: rgb(6 10 26 / 1);
  --nav-gradient: linear-gradient(to bottom left, #060A1A, #0A102A, #050515);
  --nav: #663d00;
  --text-primary: #E4E8F2;
  --text-secondary: #A6ADC9;
  --card-body: #0D1226;
  --card-body1: #0C1225;
  --card-body2: #141b30;
  --card-border: #1F2845;
  --accent: #FF9900;
  --hover-bg: #131A36;
  --input-bg: #10152B;
  --divider: #232B4A;
}
  
html, body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--bg-body);
  color: var(--text-primary);
   transition: background-color 0.3s ease, color 0.3s ease;
}


/* searchbar  */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

 .nav-gradient {
  background-image: var(--nav-gradient);
   transition: background-image 0.3s ease-in-out;
} 
 
.nav-border-color {
  border-color: var(--nav); 
}
.card-body {
  background-color: var(--card-body);
  border: 1px solid var(--card-border);
  transition: all 0.3s ease-in-out;
}
.card-body2 {
  background-color: var(--card-body2);
  border: 1px solid var(--card-border);
  transition: all 0.3s ease-in-out;
}

.text-accent {
  color: var(--accent);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}
.input-bg {
  background-color: var(--input-bg);
}

.border-card {
  border-color: var(--card-border);
}
.icon-bg {
  background-color: var(--bg-body);
}
.bg-accent {
  background-color: var(--accent);
}
.hover-color {
  background: var(--hover-bg);
}




/* .bg-bg {
#78716c
  --tw-bg-opacity: 1;
  background-color: rgb(6 10 26 / var(--tw-bg-opacity));
  --bg: #000420;
  --bg2: #1B2039;
  --bg3: #060A1A;
  --bg4: #0A102A;
   <div className="bg-[var(--bg)]"> 
} */

 /* font-montserrat → heading font
 font-sans (which maps to DM Sans) */
/* font-poppins → applies your Poppins heading font 
 font-inter → applies your Inter font */
/* font-[Space_Grotesk]  font-manrope  */


/* .dark {
 --bg-body: rgb(6 10 26 / 1);
  --bg5: #00001a;
  --surface: #050515;
  --text: #f4f4f4;
  --text-muted: #9ca3af;
  --side: #1B2039;
  --accent: #1d546c;
  --highlight: #ff9900;
  --nav: #663d00;
  --navy-blue3: #00022e;
  --color-text-primary: #f0f8ff;
  --color-card-bg: #0e1038;
  --lifgtmode-color:#cce6ff;
  --nav-gradient: linear-gradient(to bottom left, #060A1A, #0A102A, #050515);
  --nav-gradient2: linear-gradient(to bottom left, #00001a, #000000, #050515);
} */