@import "tailwindcss";

:root {
  --clr-deep: #0c2b4e;
  --clr-mid1: #1a3d64;
  --clr-mid2: #1d546c;
  --clr-light: #f4f4f4;
  --clr-gray1: #f9fafb;
  --clr-gray2: #f3f4f6;
  --text-dark: #0c2b4e;
  --navy-blue1: #002366;
  --navy-blue2: #001659;
  --navy-blue3: #00022e;
  --navy-blue4: #050054;
  --navy-blue5: #031273;
  --color-text-primary: #f0f8ff;
  --color-card-bg: #0e1038;
  --border-color: #663d00;
  --text-color: #ff9900;
  --lifgtmode-color:#cce6ff;
  --darkblue:  #050515;
  /* bg-gradient-to-br from-[#000420] to-[#1a0a00] artist color with yellow touch */
  /* twitter dark HEX: #292F33  */
  /* HEX: #CCD6DD, HEX: #66757F */
  /* facebook HEX: #3B5998, HEX: #8B9DC3 */
  /* netflix dark HEX: #221F1F */
  /* bg-linear-to-br from-[#1a0a00] to-[#00001a]  */
  /* sidebar color */
  /* bg-[#000420] shadow-xl */
  /*    className="block px-4 py-3 rounded-lg hover:bg-blue-500 hover:translate-x-1 transition-all" */
  /* card styles */
  /* className="bg-linear-to-br from-[#000420] to-[#001040] rounded-xl p-6 shadow-lg border border-blue-400/20 hover:-translate-y-2 hover:shadow-blue-400/30 transition-all duration-300" */
}

html, body {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text-primary);
  background: linear-gradient(to bottom, #000420 0%, #00001a 100%);
  background-attachment: fixed;
  background-size: cover;
} */
 
/* 
theme=dark]
Specificity: (0,1,0)
 {
    --bg-5: #151617;
    --bg-4: #1a1b1c;
    --bg-3: #222324;
    --bg-2: #2c2d2e;
    --bg-1: #4b4e52;
    --bg-L0: var(--bg-l0);
    --bg-L0-atn: var(--bg-l0-gray);
    --bg-L1: var(--bg-l1);
    --bg-L1-intro: var(--gradient-1);
    --bg-L1-act: var(--gradient-2);
    --bg-L1-atn: var(--bg-l1-white);
    --bg-L2: var(--bg-l2);
    --border-card-default: var(--line-base);
    --border-card-other: var(--line-base);
    --divider: var(--line-base);
    --border-2: #333435;
    --border-1: #484b4f;
    --secondary-text: var(--content-tertiary);
    --primary-text: var(--content-secondary);
    --subtitle: #cdcecf;
    --title: var(--content-primary);
    --shadow-color-0: rgba(0, 0, 0, .1);
    --shadow-color-1: rgba(0, 0, 0, .2);
    --shadow-color-2: rgba(0, 0, 0, .3);
    --shadow-color-3: rgba(0, 0, 0, .4);
    --skeleton: var(--gray-14);
    --skeleton-to: var(--gray-12);
    --scrollbar-thumb: var(--gray-12);
    --scrollbar-track: var(--gray-14);
    --hongdou-6: var(--tint-red-base);
    --bg-primary: var(--bg-l0);
    --bg-secondary: var(--bg-l1);
    --bg-tertiary: var(--bg-l2);
    --bg-modal: var(--fill-high);
    --bg-card: var(--fill-higher);
    --bg-tooltip: var(--fill-gray);
    --bg-level-primary: var(--bg-l0-gray);
    --bg-level-secondary: var(--bg-l1-white);
    --bg-level-tertiary: var(--bg-l2);
    --bg-mask: var(--bg-scrim);
    --bg-trade-primary: var(--gray-17);
    --bg-trade-secondary: var(--gray-16);
    --bg-top-banner: #000c1d;
    --bg-popconfirm: var(--fill-higher);
    --bg-tooltips: var(--gray-13);
    --icon-primary: var(--content-primary);
    --icon-secondary: var(--content-secondary);
    --icon-tertiary: var(--content-tertiary);
    --icon-quarternary: var(--content-disable);
    --icon-mask: var(--gray-7); */